.cover__background-link { 
    position: relative;
    margin: 0 auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 48px;
    max-width: 1184px;
    min-height: 740px;
    object-fit: fill;
}

.cover__background-link::before {
    position: absolute;
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    transition:  0.33s ease;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.cover__background-link:hover::before {  
    opacity: 0.8;
}


@media screen and (max-width: 1250px) {
    .cover__background-link  {
        margin: 0;
        max-width: 1250px;
        width: 100%;
    }
  }


@media screen and (max-width: 1040px) {
    .cover__background-link  {
        margin: 0;
        max-height: 640px;
        width: 100%;
    }
  }

  @media screen and (max-width: 790px) {
    .cover__background-link  {
        margin: 0;
        max-height: 480px;
        width: 100%;
    }    
}

@media screen and (max-width: 540px) { 
    .cover__background-link  {
        margin: 0;
        max-height: 300px;
        width: 100%;
    }    
}

@media screen and (max-width: 350px) { 
    .cover__background-link  {
        margin: 0;
        max-height: 200px;
        width: 100%;
    }    
}

  