.cover__background-link { 
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 740px;
    text-decoration: none;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__background-link::before {
    position: absolute;
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    transition:  0.33s ease;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.cover__background-link:hover::before {  
    opacity: 0.6;
}