.place__title {
    grid-area: title;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

@media screen and (max-width: 925px) {
    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 110%;
    }
  }

@media screen and (max-width: 790px) {
    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 110%;
        padding: 0 10px;
    }
}


@media screen and (max-width: 350px) {
    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        padding: 0 16px;
    }
}
