.page {
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    max-width: 1280px;
    background: #2A2C2F;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
  }
 
