.photo-grid {
    list-style-type: none;
    margin: 0px;
    padding: 0 46px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(284px, 1fr));
    gap: 12px 15px;
}

@media screen and (max-width: 790px) {
    .photo-grid {
        padding: 0 25px;
    }
}

@media screen and (max-width: 350px) {
    .photo-grid {
        padding: 0 16px;
        gap: 8px;
    }
}
