.places {
    margin: 0 ;
    padding:0;
    padding: 88px 149px;
    max-width: 984px;
}

@media screen and (max-width: 1040px) {
    .places {
        padding: 88px 49px;
    
    }
  } 

  @media screen and (max-width: 790px) {
    .places {
        padding: 88px 24px;
    }    
}