.places {
    margin: 0;
    padding: 0;
    padding: 86px 149px;
    padding-bottom: 90px;
    max-width: 984px;
}

@media screen and (max-width: 1111px) {
    .places {
        padding: 88px 49px;

    }
  }

@media screen and (max-width: 1040px) {
    .places {
        padding: 88px 49px;

    }
  }

  @media screen and (max-width: 925px) {
    .places {
        padding: 88px 49px;

    }
  }

  @media screen and (max-width: 790px) {
    .places {
        padding: 0 24px;
        padding-top: 90px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 350px) {
    .places {
        padding: 57px 0;
    }
}
