.lead {
    padding: 0 148px;

}

@media screen and (max-width: 1042px) {
    .lead{
    padding: 0 49px;
    }
  }

@media screen and (max-width: 790px) {
    .lead {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}



