.lead {
    margin: 0 148px;
    
}

@media screen and (max-width: 1040px) {
    .lead{
    margin: 0 49px;
    }
  }

@media screen and (max-width: 790px) {
    .lead {
        margin: 0;
        padding: 0;
        width: 100%;
    }    
}


@media screen and (max-width: 320px) {
    .lead {
        padding: 0px 0px;
    }    
}
