.cover__subtitle {
    margin: 0 auto;
    padding-top: 36px;
    width: 360px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 5;  
      
}