.cover__subtitle {
    margin: 0 auto;
    padding-top: 36px;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 5;

}

@media screen and (max-width: 1040px) {
    .cover__subtitle {
        padding-top: 32px;

    }
  }

  @media screen and (max-width: 540px) {
    .cover__subtitle  {
        font-size: 14px;
        line-height: 114%;
        padding-top: 16px;
    }
}

  @media screen and (max-width: 350px) {
    .cover__subtitle  {
        padding-top: 20px;
        max-width: 288px;
    }
}
