.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 19px;
}

.footer__links {   
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}