.header {
    margin: 0;
    padding: 0;
    max-width: 1184px;
    height: 52px;
    padding-left: 48px;
    padding-top: 28px;
    padding-right: 48px;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1040px) {
    .header {
        padding-bottom: 50px; 
    }
  }


  @media screen and (max-width: 790px) {
    .header {
        padding-left: 24px;
        padding-top: 28px;
        padding-right: 24px;
        padding-bottom: 48px;
    }    
}
