.place__text {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
}

.place__text:last-child {
  margin-bottom: 0;

}

@media screen and (max-width: 925px) {
    .place__text {
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;

    }
  }

@media screen and (max-width: 790px) {
    .place__text {
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }
}

@media screen and (max-width: 350px) {
    .place__text {
        padding: 0 16px;
    }
}
