.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-decoration: none;
    width: fit-content;
}

.footer__link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 709px) {
    .footer__link  {
        font-size: 26px;
        line-height: 106%;
    }
}

@media screen and (max-width: 350px) {
    .footer__link  {
        font-size: 24px;
        line-height: 100%;
    }
}

