.lead__title {
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}

@media screen and (max-width: 709px) {
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 104%;
        max-width: 320;
    }
}

@media screen and (max-width: 670px) {
    .lead__title {
        font-size: 45px;
        line-height: 108%;
        max-width: 290px;

    }
}

@media screen and (max-width: 390px) {
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 110%;
        max-width: 288px;
    }
}
