.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 19px;
}


@media screen and (max-width: 709px){
    .footer__links {
        gap: 30px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
}
}

@media screen and (max-width: 350px){
    .footer__links {
        gap: 32px;
}
}
