.footer__copyright {
    margin: 0;
    padding: 0;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
}

@media screen and (max-width: 709px) {
    .footer__copyright  {
        padding-top: 48px;
    }
}

@media screen and (max-width: 350px) {
    .footer__copyright  {
        padding-top: 47px;
    }
}
