.intro {
    margin: 0;
    padding: 0;
    max-width: 690px;
    padding-left: 148px;
    padding-right: 422px;
    padding-top: 90px;
    padding-bottom: 92px;
    width: 100%;
}

@media screen and (max-width: 1040px) {
    .intro {
    padding-left: 49px;
    padding-right: 286px;
    padding-top: 90px;
    padding-bottom: 90px;
    }
  }


@media screen and (max-width: 790px) {
    .intro {
        padding: 89px 25px;
        max-width: 720px;
    }
}

@media screen and (max-width: 350px) {
    .intro {
        padding-top:  64px;
        padding-bottom: 64px;
    }
}
