.intro {
    margin: 0;
    padding: 0;
    max-width: 690px;
    padding-left: 148px;
    padding-top: 89px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1040px) {
    .intro {
    padding: 90px 49px;
    }
  }

  
@media screen and (max-width: 790px) {
    .intro {
        padding: 89px 15px;
    }    
}