.intro {
    margin: 0;
    padding: 0;
    max-width: 690px;
    padding-left: 148px;
    padding-top: 90px;
    padding-bottom: 92px;

}

@media screen and (max-width: 1190px) {
    .intro {
    padding-left: 49px;
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 720px;
    }
  }


@media screen and (max-width: 790px) {
    .intro {
        padding: 89px 25px;

    }
}

@media screen and (max-width: 390px) {
    .intro {
        padding: 0 16px;
        padding-top: 64px;
        padding-bottom: 62px;
        max-width: 520px;
    }
}
