.cover {
    position: relative;
    margin: 0 48px;
    max-width: 1184px;
    width: 100%;
    height: 740px; 
    object-fit: fill;
}

@media screen and (max-width: 1250px) {
    .cover {
        margin: 0;
        max-width: 1250px;
        width: 100%;
    }
  }


@media screen and (max-width: 1040px) {
    .cover {
        margin: 0;
        max-height: 640px;
        width: 100%;
    }
  }

  @media screen and (max-width: 790px) {
    .cover {
        margin: 0;
        max-height: 480px;
        width: 100%;
    }    
}



@media screen and (max-width: 350px) {
    .cover {
        margin: 0;   
        max-height: 200px;
        width: 100%;
    }    
}

  