.lead__caption {
    margin: 0;
    padding: 0;
    max-width: 158px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

@media screen and (max-width: 790px) {
    .lead__caption {
        padding: 0 25px;
    }    
}

@media screen and (max-width: 350px) {
    .lead__caption {
        padding: 0 16px;
    }    
}