.lead__caption {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    max-width: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 790px) {
    .lead__caption {
        padding-left: 25px;
    }
}

@media screen and (max-width: 350px) {
    .lead__caption {
        padding-left: 16px;
    }
}
