.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width: 540px) {
    .cover__title  {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 107%;
    }
}

@media screen and (max-width: 453px) {
    .cover__title  {
        padding: 20px;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 100%;
    }
}

