.place {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    width: 100%;
    display: grid;
    gap: 48px 18px;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-areas:
    "title website"
    "image paragraph";
}

.place:last-child {
    padding-bottom: 0px;
}


@media screen and (max-width: 1040px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        gap: 48px 32px; 
    }
    .place:last-child {
        padding-bottom: 0px;
    }
    
  }

  @media screen and (max-width: 925px) {
    .place {
        padding-bottom: 72px;
        gap: 45px 28px;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));     
    }   
    .place:last-child {
        padding-bottom: 0px;
    }
}

  @media screen and (max-width: 790px) {
    .place {
        padding-bottom: 72px;
        gap: 45px 28px;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));     
    }   
    .place:last-child {
        padding-bottom: 0px;
    }
    
}

@media screen and (max-width: 719px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        padding-bottom: 50px;
        gap: 32px;
        grid-template-areas:
        "title"
        "website"
        "image" 
        "paragraph";
        
    }
}

@media screen and (max-width: 380px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        padding-left: 0;
        padding-bottom: 50px;
        gap: 32px;
        grid-template-areas:
        "title"
        "website"
        "image" 
        "paragraph";
        
    }
}

@media screen and (max-width: 378px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        padding-left: 0;
        padding-bottom: 50px;
        gap: 32px;
        grid-template-areas:
        "title"
        "website"
        "image" 
        "paragraph";
        
    }
}

@media screen and (max-width: 350px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        padding-bottom: 50px;
        gap: 32px;
        grid-template-areas:
        "title"
        "website"
        "image" 
        "paragraph";
        
    }
}
  