.footer {
    padding: 0 48px;
    margin: 0;
    padding-bottom: 25px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
}

@media screen and (max-width: 1040px) {
    .footer {
        padding-top: 96px;

    }
  }

@media (max-width: 925px) {
    .footer {
        padding: 24px 48px;
    }
}

@media (max-width: 790px) {
    .footer {
        padding-top: 85px;
        padding-left:  24px;
        padding-right:  24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 709px) {
    .footer  {
        flex-direction: column;
        padding-top: 70px;
        padding-right:  20px;
    }
}


@media screen and (max-width: 350px) {
    .footer  {
        padding-left:  15px;
        padding-top: 65px;
        padding-right:  16px;
    }
}


