.place__website_url-heading {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
    font-weight: lighter;
}