.place__website-url-heading {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
    padding-bottom: 12px;
    text-transform: uppercase;
}